@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-decoration: none;
    /*border: 2px solid green;*/
}

/* body {
    background-color: #1a242e;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    overflow-x: hidden;
} */


.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #111111;
    z-index: 1000;
}

nav>a,
nav button {
    color: #ffffff;
    margin: 0 22px;
}

nav button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

nav .linkbtn:hover {
    color: #ff4655;
}

nav a:hover {
    border-bottom: 4px solid #ff4655;
    border-radius: 90px 3px 3px 3px;
}

nav .dropdown .content {
    display: none;
    z-index: 2000;
    height: auto;
    min-width: 180px;

}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

nav .dropdown:hover .content {
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #292929;
    top: 70px;
    border-top: 4px solid #ff4655;
    border-radius: 3px 3px 1px 1px;
    padding: 15px 25px;
    width: 180px;
    box-sizing: border-box;
    color: #ffffff;
    z-index: 2000;
}

nav div {
    height: 100%;
    display: flex;
}

/* 
body>div:nth-child(1) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
} */

/* body>div:nth-child(2) {
    width: 100%;
    position: relative;
    height: 100vh;
    margin-top: -80px;
    padding-top: 80px;
} */
/* 
body>div:nth-child(2)>div {
    position: relative;
    width: 100%;
    height: 100%;
}

body>div:nth-child(3) {
    width: 77%;
    margin-left: 11.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -209px;
} */

nav li {
    padding: 6px 0;
    line-height: normal;
}

nav ul {
    list-style-type: none;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

.background-video {
    width: 100vw;
    height: 90vh;
    position: relative;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.on-video-content {
    position: absolute;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: -webkit-center
}

.on-video-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    background: linear-gradient(to bottom, rgba(26, 36, 46, 0.3), rgba(26, 36, 46, 0.7));
    z-index: -1;
    display: flex;
    object-fit: cover;
}

.on-container-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    z-index: 1;
    width: 100%;
    font-family: 'Anton', sans-serif;
}

.on-video-button {
    position: block;
    background-color: #ff4655;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    z-index: 6;
    font-family: 'Oswald', sans-serif;
    width: 240px;
    height: 80px;
    text-align: center;
}

.on-video-button:hover {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.inter-container {
    width: 100vw;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    background-color: #ece8e1;
}

.inter-container .on-container-text {
    display: flex;
    top: auto;
    transform: none;
    color: #000000;
    font-size: 40px;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: auto;
    font-family: 'Anton', sans-serif;
}

.inter-container .on-container-text p:first-child {
    font-size: 39px;
    margin-bottom: 20px;
}

.inter-container .on-container-text p:last-child {
    font-size: 18px;
    color: #000000;
}

.inter-container a {
    color: black;
}

.actus-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
}

.actus-item a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.actus-images {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.actus-meta {
    font-size: 16px;
    margin-top: 10px
}

.actus-title {
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0;
}

.actus-desc {
    font-size: 17px;
    color: #0f1923;
}

@media (max-width: 1024px) {
    .actus-div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .actus-div {
        grid-template-columns: 1fr;
    }
}

.actus-div .actus-images {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.tag-label {
    color: #ff4655;
}

@media (max-width: 1200px) {
    .actus-div {
        flex-direction: column;
        align-items: center;
    }

    .actus-item {
        width: 80%;
        margin-bottom: 30px;
    }

    .inter-container .on-container-text {
        position: static;
        transform: none;
        left: auto;
        top: auto;
    }
}

.season-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    ;
}

.season-div .season-text-container {
    text-align: start;
}

.season-div .season-text-container p {
    font-size: 90px;
    font-family: 'Anton', sans-serif;
}

.season-div .season-button {
    background-color: #ff4655;
    color: #ffffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
    font-family: 'Roboto Slab', sans-serif;
    width: 160px;
    height: 65px;
    text-align: center;
    margin-top: 2vh;
}

.season-div .season-button:hover {
    background-color: #000000;
    transition: background-color 0.5s ease;
}

.game-info-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.game-info-div video {
    width: 40vw;
    height: auto;
    object-fit: cover;
    margin-left: 45vw;
    margin-top: -90%;
}

.game-info-div .game-info-text-container {
    text-align: start;
}

.game-info-div .game-info-text-container p {
    font-size: 90px;
    font-family: 'Anton', sans-serif;
}

.game-info-div .game-info-button {
    background-color: #ff4655;
    color: #ffffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
    font-family: 'Roboto Slab', sans-serif;
    width: 235px;
    height: 65px;
    text-align: center;
    margin-top: 2vh;
}

.game-info-div .game-info-button:hover {
    background-color: #000000;
    transition: background-color 0.5s ease;
}

.agents-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60vh;
    width: 100vw;
    background-image: url('public/images/agents-div-background.jpg');
    background-size: cover;
    background-position: center;
}

.agents-div .agents-div-text-container {
    color: #ffffff;
}

.agents-div .agents-div-text-container p {
    font-size: 90px;
    font-family: 'Anton', sans-serif;
    margin-left: 15%;
}

.agents-div .agents-div-button {
    background-color: #131c26;
    color: #ffffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
    font-family: 'Roboto Slab', sans-serif;
    width: 16vw;
    height: 7.8vh;
    text-align: center;
    margin-top: 2vh;
    margin-left: 15%;
}

.agents-div .agents-div-button:hover {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.maps-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60vh;
    width: 100vw;
    background-image: url('public/images/maps-div.png');
    background-size: cover;
    background-position: center;
}

.maps-div .maps-div-text-container {
    color: #000000;
}

.maps-div .maps-div-text-container p {
    font-size: 90px;
    font-family: 'Anton', sans-serif;
    margin-left: 32%;
}

.maps-div .maps-div-button {
    background-color: #ff4655;
    color: #ffffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
    font-family: 'Roboto Slab', sans-serif;
    width: 18vw;
    height: 7.8vh;
    text-align: center;
    margin-top: 2vh;
    margin-left: 32%;
}

.maps-div .maps-div-button:hover {
    background-color: #000000;
    transition: background-color 0.5s ease;
}

.footer-1 {
    background-color: #292929;
    color: #ffffff;
    text-align: center;
    padding: 1vh 0;
    border-top: 1.6px solid #343434;
}

.footer-1 .footer-1-button {
    background-color: #292929;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
    font-family: 'Oswald', sans-serif;
    width: 15vw;
    text-align: center;
}

.footer-1 .footer-1-button:hover {
    background-color: #444444;
    transition: background-color 0.5s ease;
}

.footer-2 {
    background-color: #111111;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 32vh;
    padding-bottom: 20px;
}

.footer-2 .footer-2-icons-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-2 .footer-2-icons-div .icons-container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    gap: 10px;
}

.footer-2 .footer-2-icons-div .icons-container li {
    background-color: #282828;
    border-radius: 30%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    margin-top: 2vh;
}

.footer-2 .footer-2-icons-div .icons-container li:hover {
    background-color: #444444;
}

.footer-2 .footer-2-icons-div .icons-container li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.footer-2 .footer-2-icons-div .icons-container .icons,
.footer-2 .footer-2-icons-div .icons-container svg {
    width: 18px;
    height: 18px;
    fill: #ffffff;
}

.footer-2 .footer-2-links-div .riot-logo a svg:hover {
    fill: #ffffff;
}

.footer-2 .footer-2-button {
    background-color: #111111;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
    font-family: 'Oswald', sans-serif;
    width: 11vw;
    text-align: center;
}

.footer-2 .footer-2-button:hover {
    background-color: #3e3e3e;
    transition: background-color 0.5s ease;
}

.footer-2 .footer-2-legal-div li {
    background-color: #111111;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.footer-2 .footer-2-legal-div .footer-2-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 0;
}

.footer-2 .footer-2-legal-div .classification-div .classification-div-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 0;
}

.footer-2 .footer-2-legal-div .classification-div .classification-div-list li {
    background-color: #111111;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.footer-2 .footer-2-legal-div .footer-2-list:has(+ .footer-2-legal-div) {
    margin-bottom: 0;
}

.footer-2 .footer-2-legal-div .footer-2-legal-div {
    margin-top: 1vh;
    color: #707070;
}

.footer-2 .footer-2-legal-div .footer-2-legal-div .footer-2-list {
    gap: 20px;
}

.footer-2 .footer-2-legal-div .footer-2-legal-div .footer-2-list li img {
    width: 80px;
    height: auto;
    display: block;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-left: auto;
    margin-right: 20px;
    padding: 5px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #ffffff;
}

.nav-links {
    display: flex;
    align-items: center;
    height: 100%;
}

@media (max-width: 900px) {
    .hamburger {
        display: flex;
        justify-content: flex-start;
    }

    .nav-links {
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #111111;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 15px;
        z-index: 999;
        height: auto;
    }

    .nav-links.open {
        display: flex;
    }

    nav .dropdown:hover .content {
        position: static;
        border-top: none;
        background-color: #1a1a1a;
        padding: 10px 20px;
    }
}

.formulaire-button{
    background-color: #4b4b4b5e;
    color: #ffffff;
    border: none;
    border-radius: 18px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
    font-family: 'Roboto Slab', sans-serif;
    width: auto;
    min-width: 120px;
    height: 35px;
    text-align: center;
}

.formulaire-button:hover {
    background-color: #3e3e3e;
    transition: background-color 0.5s ease;
}

.formulaire-card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    gap: 15px;
}

.formulaire-card .formulaire-text {
    font-family: 'Anton', sans-serif;
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
    color: #ffffff;
}

.formulaire-card .formulaire {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.formulaire-card input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.formulaire-card .submit-button {
    background-color: #ff4655;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 35%;
    margin-left: 32.5%;
}